# Copy to .env for local Docker Compose runs
POSTGRES_HOST_PORT=5434
SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5434/nabat_voting_db
SPRING_DATASOURCE_USERNAME=nabat_voting_user
SPRING_DATASOURCE_PASSWORD=nabat_voting_password
SERVER_PORT=8081
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
